* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 255, 255, 0.8);
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* Images */
.container .container-img {
    width: 53%;
}

.container .container-img .background-img {
    display: flex;
    justify-content: right;
    padding-top: 30px;
    position: relative;
}

.container .container-img .background-img #bg{
    width: 470px;
    position: absolute;
    z-index: 10;
}

.container .container-img .background-img .images {
    background-size: cover;
    animation-name: transition;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 250px;
    height: 539px;
    position: absolute;
    z-index: 11;
    margin-top: 28px;
    margin-right: 60px;
}

@keyframes transition {
    0% { background-image: url(./assets/image1.png); }
    33% { background-image: url(./assets/image2.png); }
    66% { background-image: url(./assets/image3.png); }
    100% {background-image: url(./assets/image4.png); }
}

/* Form */
.container-form {
    width: 47%;
    margin-top: 55px;
}

.container-form .form {
    width: 100%;
    max-width: 350px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-form .form #logo {
    text-align: center;
    margin: 22px auto 35px;
    font-size: 2.5rem;
    font-style: italic;
}

.container-form .form input {
    width: 100%;
    max-width: 300px;
    height: 35px;
    margin-bottom: 7px;
    padding-left: 10px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(235, 235, 235);
    outline: none;
}

.container-form .form input[type=submit] {
    margin-top: 15px;
    border-radius: 5px;
    color: white;
    background-color: rgb(70, 70, 255);
    cursor: pointer;
}

.container-form .form input[type=submit]:hover {
    opacity: 0.8;
}

.container-form .form #or {
    margin-top: 10px;
    font-size: 1.2rem;
}

.container-form .form .face {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}

.container-form .form .face img {
    width: 25px;
}

.container-form .form .face p {
    color: rgb(34, 34, 175);
    font-size: 1rem;
}

.container-form .form a {
    margin: 15px 0 25px 0;
    text-decoration: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.5);
}

.container-form .register {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    max-width: 350px;
    height: 60px;
    border: 1px solid #ccc;
}

.container-form .register p {
    color: rgba(0, 0, 0, 0.8);
}

.container-form .register b {
    font-size: 1.1rem;
    color: rgba(62, 62, 253, 0.7);
    cursor: pointer;
}

.redes {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.redes p {
    margin-top: 25px;
    text-align: center;
    font-size: 1.1rem;
}

.redes .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.redes .link .logo {
    width: 140px;
    margin-left: 10px;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.footer .sobre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.footer .sobre li {
    margin-right: 20px;
    margin-top: 15px;
    list-style: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.85rem;
}

.language {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 80px;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.8);
}

.language #list {
    border: none;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.8);
    margin-right: 20px;
}

/* Response*/

@media screen and (max-width: 810px) {
    .container .container-img {
        display: none;
    }

    .container .container-form {
        margin: 20px auto;
        width: 100%;
    }

    .container-form .form {
        border: 1px solid #ccc;
        margin: 0 auto;
    }
    
    .container-form .register {
        margin: 20px auto;
    }

    .container-form .redes{
        margin: 20px auto;
    }
}